body {
    padding:20px;
    text-align: center;

    * {
        line-height: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
        font-family: 'Courier New', Courier, monospace;
    }

    h1 {
        font-size: 50px;
        padding:30px;
    }

    button{
        font-weight: bold;
        background-color: rgb(211, 226, 243);
        border-radius: 10px;
        border:none;
        padding:5px 20px;
        cursor: pointer;
    }

    button:hover{
        background-color: rgb(174, 204, 238);
    }

    button:active{
        background-color: rgb(104, 166, 236);
    }

    label{
        font-weight: bold;
    }

    #btn-import {
        position:absolute;
        right:10px;
        top:0px;
    }

    .add-todo {
    
        summary {
            background-color: rgb(247, 240, 203); 
            list-style: none;
            padding: 10px;
            font-weight: bold;
            cursor: pointer;
        }

        summary:hover {
            background-color: rgb(247, 240, 100)
        }

        .form {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: space-between;

            input {
                border:none;
                border-radius: 3px;
                width:150px;
            }

            #btn-add {
                margin-top: 20px;
                text-align: center;
            }
        }   
    } 

    .add-todo[open] {    
        background-color: rgb(247, 240, 203); 

        summary {
            background-color: rgb(247, 240, 100);
        }
    }

    #todo-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {
            margin-top: 10px;
            border: 1px solid;
            border-radius: 10px;
            margin:5%;
        }
    
        summary {
            list-style: none;
            font-weight: bold;
        }
    }
}





